<div class="col-md-8" ng-controller="resaCtrl">
    -{{vol }}- {{test}}/{{id}}
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <!-- Contenu avec la classe .panel-default -->
        <div class="panel-heading text-center">
            <h3>Vol n°{{vol.num}}</h3>
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">Départ : <b>{{vol.depart.localite.ville}}
								({{vol.depart.localite.aeroport}})</b><br> Heure : {{vol.depart.dateTime}}
            </li>
            <li class="list-group-item">Arrivée : <b>{{vol.arrivee.localite.ville}}
								({{vol.arrivee.localite.aeroport}})</b><br> Heure : {{vol.arrivee.dateTime}}
            </li>
            <li class="list-group-item">Prix : <b>{{vol.prix}}€ TTC</b></li>
            <li class="list-group-item">
                <button class="btn btn-primary btn-lg btn-block"etéd(vol.i/button>
            </li>
        </ul>
    </div>
</div>
