<div class="col-md-12" ng-controller="volsCtrl">
    {{test}}
    <table class="table table-striped table-hover table-bordered text-center">
        <thead>
            <tr>
                <th scope="col" rowspan="2">#</th>
                <th scope="col" colspan="2">Depart</th>
                <th scope="col" colspan="2">Arrivee</th>
                <th scope="col" rowspan="2">Prix (en euro TTC)</th>
                <th scope="col" rowspan="2">Reserver</th>
            </tr>
            <tr>
                <td scope="col">Heure</td>
                <td scope="col">Ville</td>
                <td scope="col ">Heure</td>
                <td scope="col ">Ville</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="vol in vols " >
                <td>{{vol.num}}</td>
                <td>{{vol.depart.dateTime}}</td>
                <td>{{vol.depart.localite.ville}}</td>
                <td>{{vol.arrivee.dateTime}}</td>
                <td>{{vol.arrivee.localite.ville}}</td>
                <td>{{vol.prix}}</td>
                <td><a href="#resa/{{client.id}}/{{vol.num}}"><button id="{{vol.num}} " 
                	class="btn btn-primary btn-sm" ng-disabled="!connected"
                	data-toggle="tooltip" data-placement="right" title="Il faut se connecter !">Reserver</button></a></td>
            </tr>

        </tbody>
    </table>
    
</div>

<!-- <script type="text/javascript" src="js/date.js"></script> -->
