<div class="col-md-12" ng-controller="volsCtrl">
**{{appName}}**
    <table class="table table-striped table-hover table-bordered text-center">
        <thead>
            <tr>
                <th scope="col" rowspan="2">#</th>
                <th scope="col" colspan="2">Départ</th>
                <th scope="col" colspan="2">Arrivée</th>
                <th scope="col" rowspan="2">Prix (en € TTC)</th>
                <th scope="col" rowspan="2">Réserver</th>
            </tr>
            <tr>
                <td scope="col">Heure</td>
                <td scope="col">Ville</td>
                <td scope="col ">Heure</td>
                <td scope="col ">Ville</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="vol in vols " >
                <td>{{vol.num}}</td>
                <td>{{vol.depart.dateTime}}</td>
                <td>{{vol.depart.localite.ville}}</td>
                <td>{{vol.arrivee.dateTime}}</td>
                <td>{{vol.arrivee.localite.ville}}</td>
                <td>{{vol.prix}}</td>
                <td><a href="#resa/{{vol.num}}"><button id="{{vol.num}} " class="btn btn-primary btn-sm ">Réserver</button></a></td>
            </tr>

        </tbody>
    </table>
    {{test}}<br>
    <a href="./test">Lien</a>
    
</div>

<script type="text/javascript" src="js/date.js"></script>
